:root {
    --navbar-height: 30px;
    --dark-mode-bg: #111;
    --dark-mode-color: #ddd;
    --dark-mode-bg-hover: #222;
    --dark-mode-scrollbar-track: #181818;
    --dark-mode-scrollbar-thumb: hsl(0, 0%, 20%);
    --dark-mode-scrollbar-thumb: #252525;
}

* {
    box-sizing: border-box;
    font-family:'Hedvig Letters Sans', sans-serif;
    background: var(--dark-mode-bg);
    color: var(--dark-mode-color)
}

body {
    /* border: 1px solid red; */
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1rem;
}

p {
    margin: 0.25rem 0;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: var(--dark-mode-color);
    transition: background-color 0.1s, border 0.1s;
    border: 1px solid var(--dark-mode-bg);
}

button {
    text-align: start;
}

a:hover {
    border: 1px solid var(--dark-mode-color);
    animation: reveal 0.2s infinite;
    cursor: pointer;
}

.col-title {
    /* text-transform: uppercase; */
    position: sticky;
    top: 0; 
    z-index: 10;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    /* background: #fff */
    border-bottom: 1px var(--dark-mode-color) solid;
    font-size: 0.75rem;
}

.el {
    margin: 0;
    padding: 0 0 20px 0;
    /* transition: background-color 0.1s, border 0.1s; */
    border: 1px solid var(--dark-mode-bg);
}

.el:hover {
    border: 1px solid var(--dark-mode-color);
    animation: reveal .2s infinite;
    cursor: pointer;
}

.el > * {
    background-color: transparent;
}

/* .el-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
} */

.el-top-left {
    display: flex;
    flex-direction: column;
}

.el-top-left-header {
    padding: 0;
    margin: 0;
}

.el-date {
    /* background-color: var(--dark-mode-color);
    color: var(--dark-mode-bg); */
    border: 1px solid var(--dark-mode-color);
    /* margin-top: 0; */
    padding: 0 4px;
}

.el-title {
    background-color: var(--dark-mode-color);
    opacity: 0.9;
    color: var(--dark-mode-bg);
    padding: 0 .25rem;
    margin: 0;
    display: inline-block;
    /* font-style: italic; */
    /* font-family: Calibri, sans-serif; */
    /* font-size: 1.2rem; */
    font-weight: 500;
    text-transform: uppercase;
}

.el-img-thumb {
    width: 100%;
    filter: grayscale(100%);
}

/*
SCROLLBAR
*/

/* Webkit browsers */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--dark-mode-scrollbar-track); /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-mode-scrollbar-thumb); /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-mode-scrollbar-thumb); /* Slightly darker on hover */
}

/* Universal styles (limited support in non-webkit browsers) */
* {
    scrollbar-width: thin; /* 'auto' or 'thin' */
    scrollbar-color: rgba(1, 0, 0, 0.5); /* thumb and track color */
    /* scrollbar-color: rgba(1, 0, 0, 0.2) transparent; thumb and track color */
}


/*
KEYFRAMES
*/

@keyframes reveal {
    0% {border: 1px solid #aaa}
    20% {border: 1px solid var(--dark-mode-bg)} 
    40% {border: 1px solid #aaa} 
    60% {border: 1px solid var(--dark-mode-bg)} 
    80% {border: 1px solid #aaa} 
    100% {border: 1px solid var(--dark-mode-bg)}
}